html,
body {
    height: 100%;
    font-family: $font_main;
    font-weight: 400;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
    width: 100%;
    height: 80px;
}

.container_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 5rem;
}

.cont_logo {
    display: flex;
    align-items: center;
}

.logo__box {
    text-align: left;
    padding-left: 2.8rem;
}

.logo__svg {
    background: url(../images/Symboles.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    height: 40px;
}

.header_item {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 22px;
    display: flex;
    column-gap: 20px;
}

a {
    text-decoration: none;
    padding-left: 20px;
    color: #14171F;
}

.contact {
    color: #F9995D;
    font-weight: 600;
}

.container {
    max-width: 120rem;
    width: 100%;
    padding: 0 5rem;
    margin: 0 auto;

    &.container--width_2 {
        max-width: 100rem;
    }

    &.container--width_3 {
        max-width: 60rem;
    }
}

.main {
    flex-grow: 1;
}

.hero__in {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 10rem;
}

.hero__descr {
    width: 556px;
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 5.2rem;
    text-align: left;
    color: #292E3D;
}

.section {
    width: 100%;
    padding: 10rem 0;
    display: flex;

    &.hero {
        background: url(../images/Hero_img.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 51.4rem;
        padding-bottom: 20px;
    }
}


/* feature */

.container_feature {
    max-width: 450px;
    height: 205px;
    background-color: #3559C7;
    color: #fff;
    margin-left: auto;
    margin-right: -5rem;
}

.headline {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5rem;
    text-align: center;
    padding-top: 28px;
}

.feature__descr {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.8rem;
    text-align: center;
}

.buttons {
    display: flex;
    cursor: pointer;
}

/* swiper */

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.swiper-slide.one {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.swiper-prev {
    width: 50%;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.2rem;
    text-align: center;
    background-color: #292e3d;
    border-right: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-next {
    width: 50%;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.2rem;
    text-align: center;
    background-color: #292e3d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-prev img {
    width: 26px;
    margin-right: 10px;
}

.swiper-next img {
    width: 26px;
    margin-left: 10px;
}

.swiper-container {
    width: 100%;
    height: calc(100% - 20px);
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination {
    margin-top: 25px;
}

//////////////////
/// 


/* reputation */

.reputation__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    column-gap: 80px;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #3D445C;
    margin-bottom: 50px;
}

.reputation {
    padding: 50px 0;
    background-color: #fff;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.reputation .card {
    text-align: left;
    font-weight: 400;
    line-height: 18px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    width: 24%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service__card_w {
    background-color: #fff;
}

hr {
    width: 60px;
    background: #E0E3EB;
}

.reputation .card img {
    width: 50px;
    height: 50px;
}

.reputation .card h3 {
    color: #3D445C;
    font-size: 1.2em;
    margin: 15px 0 10px;
    font-weight: 700;
}

.reputation .card p {
    color: #858EAD;
    font-size: 0.9em;
    font-weight: 400;
}

/* section_about_us */

.section_about_us {
    position: relative;
    width: 76rem;
    height: 43rem;
    overflow: hidden;
    margin: 0;
}

.about_us_container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120rem;
    margin: 0 auto;
    padding: 2rem 0;
}

.about_us__image {
    width: 100%;
    height: 100%;
    background: url('../images/about_us1.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

.about_us__content {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 30rem;
    height: 31rem;
}

.content__text {
    padding: 1.8rem;
    color: #fff;
    background-color: #2947A9;
}

.about_us__content h2 {
    font-weight: 700;
    margin: 1.2rem 0 2.5rem;
    color: #fff;
    text-align: left;
}

.about_us__content p {
    margin: 0 0 1.2rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: left;
}

.about_us__btn {
    font-weight: 600;
    padding: 0.6rem 1.2rem;
    background-color: #fff;
    color: #2947A9;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 3.7rem;
}

.about_us__btn:hover {
    background-color: #F9995D;
    color: #fff;
}

/* service */

.services {
    padding-top: 50px;
}

.services .service__card {
    text-align: center;
    padding: 20px;
    margin: 20px;
    margin-right: 30px;
    background-color: #2947A9;
    color: #fff;
    width: 22%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 140px;
}

.services .service__card_w {
    text-align: center;
    padding: 20px;
    margin: 20px;
    margin-right: 30px;
    background-color: #fff;
    color: #2947A9;
    width: 22%;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
    height: 140px;
}

.services__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.services.service__card img {
    width: 50px;
    height: 50px;
}

.service__card_w img {
    width: 50px;
    height: 50px;
}

.services .service__card h3 {
    margin-top: 15px;
}

/* experience_block */

.container_experience {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.experience_block {
    position: relative;
    width: 75rem;
    height: 50rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.stats {
    position: relative;
    width: 50%;
}

.stat {
    position: absolute;
    background-color: #fff;
    padding: 1.2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 1px solid #fff;
}

.icon {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-size: cover;
}

.note {
    background-image: url('../images/note.png');
    top: -56px;
    left: -33px;
}

.handshake {
    background-image: url('../images/handshake.png');
    top: -23px;
    right: -23px;
}

.win_cup {
    background-image: url('../images/win_cup.png');
    top: -21px;
    right: -18px;
}

.calendar {
    background-image: url('../images/calendar.png');
    bottom: -37px;
    right: -40px;
}

#projects-completed {
    top: -126px;
    left: 0;
    width: 21.8rem;
    height: 9.3rem;
    z-index: 2;
}

#happy-clients {
    top: -224px;
    left: 269px;
    width: 17.5rem;
    height: 9.3rem;
    z-index: 3;
}

#awards-win {
    top: 12px;
    right: 77px;
    width: 17.2rem;
    height: 9.3rem;
    z-index: 4;
}

#years-in-business {
    top: 120px;
    left: 37px;
    width: 20.6rem;
    height: 9.3rem;
    z-index: 1;
}

.number {
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 5.2rem;
    text-align: left;
}

.description {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.7rem;
    text-align: left;
    color: #667299;
    border-left: 6px solid #F9995D;
    padding-left: 10px;
}

.experience {
    position: relative;
    width: 40%;
}

.experience h1 {
    font-size: 3.7rem;
    font-weight: 700;
    line-height: 4.3rem;
    text-align: left;
    margin: 10px 0;
    color: #2947A9;
}

.experience p {
    color: #525B7A;
    margin-top: 2.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    width: 20.2rem;
}

.experience__btn {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.3rem;
    text-align: center;
    background-color: #2947A9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 3.7rem;
}

.experience__btn:hover {
    opacity: 0.8;
}

/* consultation_block */

.consultation_block {
    background-image: url('../images/consultation_img.png');
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 18.7rem;
}

.content__block {
    display: flex;
    flex-direction: column;
    row-gap: 1.8rem;
    color: #fff;
}

.content__block h2 {
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #fff;
}

.content__block p {
    font-weight: 400;
    font-size: 1.5rem;
}

.phone {
    font-size: 1.5rem;
    text-decoration: underline;
    color: #fff;
}

.consultation-btn {
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2em;
    transition: background-color 0.3s, color 0.3s;
}

.consultation-btn:hover {
    background-color: #fff;
    color: #333;
}

/* project */

.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 4.3rem;
}

.menu_item {
    margin-left: 2.5rem;
    justify-content: left;
}

.menu_item h2 {
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 2.6rem;
    margin: 0;
    text-align: start;
}

.tabs__list {
    list-style-type: none;
    margin-top: 2.5rem;
}

.tabs__link {
    cursor: pointer;
    font-weight: 500;
    color: #C2C7D6;
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
    border: none;
    background: transparent;
    padding-left: 1rem;
}

.tabs__link.active {
    color: #2947A9;
    border-left: solid 4px;
    transition: all 0.2s ease-in-out;
}

.tabs__link.active.blue {
    color: blue;
    border-left: solid 4px blue;
}

.tabs__link.active.red {
    color: red;
    border-left: solid 4px red;
}

.tabs__link.active.green {
    color: green;
    border-left: solid 4px green;
}

.tabs__link.active.violet {
    color: violet;
    border-left: solid 4px violet;
}

.poject_card {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: 5rem 0;
    max-width: 75rem;
    justify-content: flex-end;
}

.tabs_cont__img {
    display: block;
    width: 100%;
    object-fit: contain;
}

.cont__descr {
    display: flex;
    flex-direction: column;
    width: 24rem;
    padding: 12px 12px 16px 12px;
    gap: 12px;
    background-color: #2947A9;
    color: #fff;
    font-weight: 400;
    font-size: 1.1rem;
}

.cont__descr-span {
    font-size: 1.2rem;
    font-weight: 700;
}

/* project__swiper */

.project_wrapper {
    max-width: 75rem;
}

.project__cont.content {
    display: flex;
    flex-wrap: wrap;
    gap: 1.8rem;
    padding: 5rem 0 2.5rem;
    flex-direction: row-reverse;
}

.block {
    width: 24rem;
    height: 20.6rem;
    border-radius: 2px 0px 0px 0px;
    background-color: #2947a9;
}

.project_img_w {
    display: block;
    border-radius: 2px;
    width: 24rem;
    height: 15.4rem;
}

.tab__img {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.img_w__in {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 12px 12px 16px 12px;
    color: #fff;
}

.img__title {
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 700;
}

.img__descr {
    font-size: 1.1rem;
    line-height: 1.3rem;
    font-weight: 400;
}

.project_slider__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    background-color: #292e3d;
    cursor: pointer;
}

.project_slider__btn:hover span {
    color: #2947a9;
}

.project_slider__btn:hover span::after {
    background-color: #2947a9;
}

.project_slider__btn span {
    position: relative;
    transition: all 0.3s ease-in-out;
}

.project_slider__btn span::after {
    position: absolute;
    content: "";
    top: 13%;
    width: 2.5rem;
    height: 1.4rem;
    mask-image: url("data:image/svg+xml,%3Csvg width='26' height='18' viewBox='0 0 26 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M-1.15156e-06 9C-1.17383e-06 9.25045 0.0978229 9.49063 0.271952 9.66773C0.446082 9.84482 0.682254 9.94431 0.928509 9.94431L22.8284 9.94431L16.9843 15.8859C16.898 15.9737 16.8295 16.078 16.7828 16.1927C16.7361 16.3074 16.712 16.4303 16.712 16.5545C16.712 16.6787 16.7361 16.8016 16.7828 16.9163C16.8295 17.031 16.898 17.1353 16.9843 17.2231C17.0707 17.3109 17.1732 17.3805 17.286 17.428C17.3987 17.4755 17.5196 17.5 17.6417 17.5C17.7638 17.5 17.8847 17.4755 17.9975 17.428C18.1103 17.3805 18.2128 17.3109 18.2991 17.2231L25.7272 9.66857C25.8137 9.58086 25.8823 9.47665 25.9291 9.36192C25.9759 9.2472 26 9.12421 26 9C26 8.87579 25.9759 8.7528 25.9291 8.63808C25.8823 8.52335 25.8137 8.41915 25.7272 8.33143L18.2991 0.776933C18.2128 0.689136 18.1103 0.619489 17.9975 0.571973C17.8847 0.524457 17.7638 0.500001 17.6417 0.500001C17.5196 0.500001 17.3988 0.524457 17.286 0.571973C17.1732 0.619489 17.0707 0.689136 16.9843 0.776933C16.898 0.864732 16.8295 0.968963 16.7828 1.08368C16.7361 1.19839 16.712 1.32134 16.712 1.4455C16.712 1.56967 16.7361 1.69262 16.7828 1.80734C16.8295 1.92205 16.898 2.02628 16.9843 2.11408L22.8284 8.05569L0.92851 8.05569C0.682254 8.05569 0.446082 8.15518 0.271952 8.33227C0.097823 8.50936 -1.1293e-06 8.74955 -1.15156e-06 9Z' fill='white'/%3E%3C/svg%3E%0A");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: #fff;
}

.project_slider__btn.project_slider__btn--next span {
    padding-left: 3.6rem;
}

.project_slider__btn.project_slider__btn--next span::after {
    left: 0;
    rotate: 180deg;
}

.project_slider__btn.project_slider__btn--prev span {
    padding-right: 3.6rem;
}

.project_slider__btn.project_slider__btn--prev span::after {
    right: 0;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
    width: 12px;
    height: 12px;
}

.project_slider__nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.project_slider__nav .project_slider__btn {
    width: 19.1rem;
    height: 4rem;
    color: #fff;
}

.project_slider__nav .project_slider__pagination {
    position: static;
}

.project_slider__nav .swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 11.8rem;
}

/* footer */

.footer {
    padding: 1.8rem 0;
    display: flex;
    align-items: center;
    min-height: 5rem;
    background-color: #ccc;
    margin-top: 3.1rem;
}

.footer {
    background-color: $color_accent;
}