html,
body {
    height: 100%;
    font-family: $font_main;
    font-weight: 400;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 80px;
}

.container_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 5rem;
}

.cont_logo {
    display: flex;
    align-items: center;
}

.logo__box {
    text-align: left;
    padding-left: 3.5rem;

    @include bp($point_3) {
        padding-left: 2.4rem;
        width: 8rem;
    }

    @include bp($point_5) {
        padding-left: 2rem;
        width: 6rem;
    }

    @include bp($point_8) {
        padding-left: 1.5rem;
        width: 5rem;
    }
}

.logo__svg {
    background: url(../images/Symboles.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    height: 50px;

    @include bp($point_3) {
        height: 35px;
    }

    @include bp($point_5) {
        height: 30px;
    }

    @include bp($point_8) {
        height: 25px;
    }
}

.header_item {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 22px;
    display: flex;
    column-gap: 48px;

    @include bp($point_3) {
        font-size: 1rem;
        line-height: 20px;
        column-gap: 30px;
    }

    @include bp($point_5) {
        display: none;
        font-size: 0.9rem;
        line-height: 18px;
        column-gap: 15px;
    }

    @include bp($point_8) {
        font-size: 0.7rem;
        line-height: 16px;
        column-gap: 10px;
    }

}

.burger__menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger__bar {
    width: 50px;
    height: 5px;
    background-color: #333;
    border-radius: 10px;
    margin: 4px 0;
    transition: 0.4s;
    z-index: 999;
}

@media (max-width: 767.98px) {

    .burger__menu {
        display: flex;
    }

    .hero__item a {
        margin: 0.5rem 0;
        font-size: 2rem;
        color: #14171F;
        text-decoration: none;
    }

    .hero__item a:hover {
        color: #F9995D;
    }

    .hero__item .contact {
        color: #F9995D;
        font-weight: 600;
    }

    .hero__item {
        display: none;
        flex-direction: column;
        row-gap: 40px;
        align-items: center;
        z-index: 999;
    }

    .hero__item.show {
        display: flex;
        transform: translateY(0);
        background-color: #fff;
        position: fixed;
        justify-content: center;
        top: 0;
        left: 0;
        width: 100dvw;
        height: 100dvh;
        overflow: hidden;
        z-index: 999;
    }

    .burger__menu.active .burger__bar:nth-child(1) {
        transform: rotate(-45deg) translate(-11px, 6px);
        position: fixed;
    }

    .burger__menu.active .burger__bar:nth-child(2) {
        opacity: 0;
    }

    .burger__menu.active .burger__bar:nth-child(3) {
        transform: rotate(45deg) translate(7px, 10px);
        position: fixed;
    }
}

a {
    text-decoration: none;
    color: #14171F;
}

a:hover {
    color: #F9995D;
}

.contact {
    color: #F9995D;
    font-weight: 600;
}

.container {
    max-width: 90rem;
    width: 100%;
    padding: 0 5rem;
    margin: 0 auto;

    @include bp($point_3) {
        max-width: 100rem;
        padding: 0 3rem;
    }

    @include bp($point_5) {
        max-width: 80rem;
        padding: 0 2rem;
    }

    @include bp($point_8) {
        max-width: 60rem;
        padding: 0 1rem;
    }

    &.container--width_2 {
        max-width: 100rem;
    }

    &.container--width_3 {
        max-width: 60rem;
    }
}

.main {
    flex-grow: 1;
}

.hero__in {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 2rem;

    @include bp($point_3) {
        row-gap: 8rem;
    }

    @include bp($point_5) {
        row-gap: 6rem;
    }

    @include bp($point_8) {
        row-gap: 4rem;
        padding: 0 4rem;
    }
}

.hero__descr {
    width: 556px;
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 6rem;
    text-align: left;
    color: #292E3D;

    @include bp($point_3) {
        width: 400px;
        font-size: 3rem;
        line-height: 4.5rem;
    }

    @include bp($point_5) {
        width: 330px;
        font-size: 2.5rem;
        line-height: 4rem;
    }

    @include bp($point_8) {
        width: 100%;
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

.section {
    width: 100%;
    padding: 10rem 0;
    display: flex;

    @include bp($point_3) {
        padding: 8rem 0;
    }

    @include bp($point_5) {
        padding: 6rem 0;
    }

    @include bp($point_8) {
        padding: 4rem 0;
    }

    &.hero {
        background: url(../images/Hero_img.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 40.4rem;;
        padding-bottom: 20px;

        @include bp($point_3) {
            height: 40rem;
        }

        @include bp($point_5) {
            height: 30rem;
        }

        @include bp($point_8) {
            height: 20rem;
        }
    }
}

/* feature */

.container_feature {
    max-width: 422px;
    height: 170px;
    background-color: #3559C7;
    color: #fff;
    margin-left: auto;
    margin-right: -7rem;

    @include bp($point_3) {
        margin-right: -3rem;
        margin-bottom: 4px;
    }

    @include bp($point_5) {
        max-width: 400px;
        min-height: 10rem;
        margin-right: -2rem;
        margin-bottom: 9px;
    }

    @include bp($point_8) {
        max-width: 100%;
        margin-right: 0;
        min-height: 50%;
        margin-bottom: 13px;
    }
}

.headline {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5rem;
    text-align: center;
    padding-top: 20px;

    @include bp($point_3) {
        font-size: 1.1rem;
        padding-top: 24px;
    }

    @include bp($point_5) {
        font-size: 1rem;
        padding-top: 20px;
    }

    @include bp($point_8) {
        font-size: 0.9rem;
        padding-top: 16px;
    }
}

.feature__descr {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: center;

    @include bp($point_3) {
        font-size: 1.4rem;
        padding: 0 20px;
    }

    @include bp($point_5) {
        font-size: 1.2rem;
    }

    @include bp($point_8) {
        font-size: 1rem;
    }
}

.buttons {
    display: flex;
    cursor: pointer;
}

/* swiper */

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.swiper-slide.one {
    display: flex;
    flex-direction: column;
    row-gap: 25px;

    @include bp($point_3) {
        row-gap: 25px;
    }

    @include bp($point_5) {
        row-gap: 20px;
    }

    @include bp($point_8) {
        row-gap: 5px;
    }
}

.swiper-prev {
    border-right: 1px solid #fff;

    @extend %swiper-buttons;

    @include bp($point_3) {
        font-size: 1rem;
    }

    @include bp($point_5) {
        font-size: 0.9rem;
    }

    @include bp($point_8) {
        font-size: 0.8rem;
    }
}

.swiper-next {
    @extend %swiper-buttons;

    @include bp($point_3) {
        font-size: 1rem;
    }

    @include bp($point_5) {
        font-size: 0.9rem;
    }

    @include bp($point_8) {
        font-size: 0.8rem;
    }
}

.swiper-prev img {
    width: 1.6rem;
    margin-right: 15px;

    @include bp($point_3) {
        width: 1.4rem;
        margin-right: 12px;
    }

    @include bp($point_5) {
        width: 1.2rem;
        margin-right: 10px;
    }

    @include bp($point_8) {
        width: 1rem;
        margin-right: 8px;
    }
}

.swiper-next img {
    width: 1.6rem;
    margin-left: 15px;

    @include bp($point_3) {
        width: 1.4rem;
        margin-right: 12px;
    }

    @include bp($point_5) {
        width: 1.2rem;
        margin-right: 10px;
    }

    @include bp($point_8) {
        width: 1rem;
        margin-right: 8px;
    }
}

.swiper-container {
    width: 100%;
    height: calc(100% - 20px);

    @include bp($point_3) {
        height: calc(100% - 15px);
    }

    @include bp($point_5) {
        height: calc(100% - 10px);
    }

    @include bp($point_8) {
        height: calc(100% - 5px);
    }
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include bp($point_3) {
        gap: 25px;
    }

    @include bp($point_5) {
        gap: 20px;
    }

    @include bp($point_8) {
        gap: 15px;
    }
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination {
    margin-top: 25px;
}

/* reputation */

.reputation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    margin-top: 3.7rem;
}

.reputation__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    column-gap: 80px;
    row-gap: 40px;

    @include bp($point_3) {
        flex-wrap: wrap;
    }

    @include bp($point_5) {
        flex-direction: column;
    }

    @include bp($point_6) {
        flex-direction: column;
    }
}

.reputation h2 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #3D445C;
    margin-bottom: 50px;

    @include bp($point_3) {
        font-size: 34px;
    }

    @include bp($point_5) {
        font-size: 30px;
        margin-bottom: 30px;
    }

    @include bp($point_8) {
        font-size: 26px;
        margin-bottom: 20px;
    }
}

.container-rept {
    max-width: 75rem;
    width: 100%;
    margin: 0 auto;
}

.reputation .card {
    text-align: left;
    font-weight: 400;
    line-height: 18px;
    padding: 16px;
    border: 1px solid #e0e0e0;
    width: 24%;
    height: 12.3rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    @include bp($point_3) {
        flex: 0 0 calc(36% - 30px);

        &:nth-child(3) {
            flex: 0 0 36%;
        }
    }

    @include bp($point_5) {
        width: 50%;
        text-align: center;
    }

    @include bp($point_6) {
        flex: 0 0 calc(36% - 30px);

        &:nth-child(3) {
            flex: 0 0 36%;
        }
    }

    @include bp($point_8) {
        flex: 0 0 calc(36% - 30px);

        &:nth-child(3) {
            flex: 0 0 36%;
        }
    }
}

.service__card_w {
    background-color: #fff;
}

hr {
    width: 60px;
    background: #E0E3EB;
    margin-top: 15px;
}

.reputation .card img {
    width: 50px;
    height: 50px;

    @include bp($point_3) {
        width: 45px;
        height: 45px;
    }

    @include bp($point_5) {
        width: 40px;
        height: 40px;
    }

    @include bp($point_8) {
        width: 35px;
        height: 35px;
    }
}

.reputation .card h3 {
    color: #3D445C;
    font-size: 1.2em;
    padding: 15px 0 18px;
    font-weight: 700;

    @include bp($point_3) {
        font-size: 1.1em;
    }

    @include bp($point_5) {
        font-size: 1em;
    }

    @include bp($point_8) {
        font-size: 0.9em;
    }
}

.reputation .card p {
    color: #858EAD;
    font-size: 0.9em;
    font-weight: 400;

    @include bp($point_3) {
        font-size: 0.85em;
    }

    @include bp($point_5) {
        font-size: 0.8em;
    }

    @include bp($point_8) {
        font-size: 0.75em;
    }
}

/* section_about_us */

.section_about_us {
    width: 100%;
    overflow: hidden;
    margin: 10rem 0;

    @include bp($point_3) {
        margin: 5rem 0;
    }

    @include bp($point_5) {
        margin: 3rem 0;
    }

    @include bp($point_8) {
        margin: 2rem 0;
    }
}

.about_us_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76rem;
    height: 43rem;
    margin: 0 auto;
    padding: 2rem 0;
    position: relative;

    @include bp($point_3) {
        flex-direction: column;
        width: 100%;
        height: auto;
    }    

}

.about_us__image {
    width: 100%;
    height: 106%;
    background: url(../images/about_us1.png);
    background-repeat: no-repeat;
    background-position: -12.1rem center;
    background-size: cover;

    @include bp($point_3) {
        width: 100%;
        min-height: 35rem;
        background-position: center;
        background-size: cover; 
    }

    @include bp($point_5) {
        min-height: 32rem;
    }

    @include bp($point_8) {
        min-height: 30rem;
    }   
    
}

.about_us__content {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 30rem;
    height: 31rem;

    @include bp($point_3) {
        order: 2; 
        position: static;
        transform: none;
        width: 100%;
        height: auto;
        padding: 1rem;
    }

    @include bp($point_5) {
        padding: 0.5rem;
    }

    @include bp($point_8) {
        padding: 0.2rem;
    }
}

.content__text {
    width: 40%;
    height: 76%;
    padding: 2.1rem;
    color: #fff;
    background-color: #2947A9;
    display: flex;
    flex-direction: column;
    row-gap: 1.9rem;

    @include bp($point_3) {
        width: 100%;
        row-gap: 1.5rem;
    }

    @include bp($point_5) {
        width: 100%;
        row-gap: 1rem;
    }

    @include bp($point_8) {
        width: 100%;
        row-gap: 0.8rem;
    }
}

.about_us__content h2 {
    font-size: 2.4rem;
    font-weight: 700;
    color: #fff;
    text-align: left;
    padding-top: 20px;

    @include bp($point_3) {
        font-size: 1.8rem;
    }

    @include bp($point_5) {
        font-size: 1.5rem;
    }

    @include bp($point_8) {
        font-size: 1.2rem;
    }
}

.about_us__content p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: left;
    width: 90%;

    @include bp($point_3) {
        font-size: 1.1rem;
        line-height: 1.4rem;
    }

    @include bp($point_5) {
        font-size: 1rem;
        line-height: 1.3rem;
    }

    @include bp($point_8) {
        font-size: 0.9rem;
        line-height: 1.2rem;
    }
}

.about_us__btn {
    font-size: 18px;
    font-weight: 600;
    padding: 0.9rem 1rem;
    background-color: #fff;
    color: #2947A9;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2.1rem;
    width: 52%;

    @include bp($point_3) {
        margin-top: 2rem;
        padding: 0.8rem 0.9rem;
        width: 60%;
    }

    @include bp($point_5) {
        margin-top: 1.5rem;
        padding: 0.7rem 0.8rem;
        width: 70%;
    }

    @include bp($point_8) {
        margin-top: 1rem;
        padding: 0.6rem 0.7rem;
        width: 80%;
    }
}

.about_us__btn:hover {
    background-color: #F9995D;
    color: #fff;
}

/* service */

.services {
    width: 100%;
    background-color: #F6F8F7;
}

.container-serv {
    max-width: 75rem;
    width: 100%;
    padding: 3.1rem 0;
    margin: 0 auto;

    @include bp($point_3) {
        padding: 2rem 0;
    }

    @include bp($point_5) {
        padding: 1.5rem 0;
    }

    @include bp($point_8) {
        padding: 1rem 0;
    }
}

.services h2 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #3D445C;
    margin-bottom: 30px;

    @include bp($point_3) {
        font-size: 30px;
        margin-bottom: 25px;
    }

    @include bp($point_5) {
        font-size: 24px;
        margin-bottom: 20px;
    }

    @include bp($point_8) {
        font-size: 20px;
        margin-bottom: 15px;
    }
}

.services .service__card {
    text-align: center;
    padding: 37px;
    background-color: #2947A9;
    color: #fff;
    width: 17rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 11rem;

    @include bp($point_3) {
        width: 40%; 
    }

    @include bp($point_5) {
        width: 80%;
    }

    @include bp($point_8) {
        width: 90%;
    }
}

.services .service__card_w {
    text-align: center;
    padding: 37px;
    background-color: #fff;
    color: #2947A9;
    width: 17rem;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
    height: 11rem;

    @include bp($point_3) {
        width: 40%; 
    }

    @include bp($point_5) {
        width: 80%;
    }

    @include bp($point_8) {
        width: 90%;
    }
}

.services__flex {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2.5rem;
    column-gap: 6.2rem;
    justify-content: center;
    max-width: 75rem;
    margin: 0 auto;

    @include bp($point_5) {
        flex-direction: column;
        align-items: center;
    }
}

.services.service__card img,
.service__card_w img {
    width: 41px;
    height: 40px;

    @include bp($point_3) {
        width: 45px;
        height: 45px;
    }

    @include bp($point_5) {
        width: 40px;
        height: 40px;
    }

    @include bp($point_8) {
        width: 35px;
        height: 35px;
    }
}

.services .service__card h3,
.service__card_w h3 {
    margin-top: 23px;
    font-size: 19px;

    @include bp($point_3) {
        margin-top: 12px;
    }

    @include bp($point_5) {
        margin-top: 10px;
    }

    @include bp($point_8) {
        margin-top: 8px;
    }
}

/* experience_block */

.container_experience {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 75rem;
    height: 40rem;
    margin: 0 auto;

    @include bp($point_3) {
        flex-direction: column;
        height: auto;
        padding: 2rem 0;
    }

    @include bp($point_5) {
        padding: 1.5rem 0;
    }

    @include bp($point_8) {
        padding: 1rem 0;
    }
}

.experience_block {
    position: relative;
    padding-bottom: 5rem;
    background-color: #fff;

    @include bp($point_3) {
        padding-bottom: 3rem;
    }

    @include bp($point_5) {
        padding-bottom: 2rem;
    }

    @include bp($point_8) {
        padding-bottom: 1.5rem;
    }
}

.stats {
    position: relative;
    width: 50%;

    @include bp($point_3) {
        width: 50%;
        height: 30rem;
        margin-bottom: 3rem;
    }

    @include bp($point_5) {
        width: 58%;
        height: 28rem;
        margin-bottom: 2rem;
    }

    @include bp($point_8) {
        width: 83%;
        height: 26rem;
        margin-bottom: 1.5rem;
    }
}

.stat {
    position: absolute;
    background-color: #fff;
    padding: 1.2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 1px solid #fff;

    @include bp($point_3) {
        position: relative;
        margin-bottom: 1.5rem;
    }

    @include bp($point_5) {
        margin-bottom: 1rem;
        padding: 1rem;
    }

    @include bp($point_8) {
        margin-bottom: 0.8rem;
        padding: 0.8rem;
    }
}

.icon {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-size: cover;

    @include bp($point_3) {
        position: relative;
        margin-bottom: 1rem;
        width: 4rem;
        height: 4rem;
    }

    @include bp($point_5) {
        width: 3.5rem;
        height: 3.5rem;
    }

    @include bp($point_8) {
        width: 3rem;
        height: 3rem;
    }
}

.note {
    background-image: url('../images/note.png');
    top: -56px;
    left: -51px;

    @include bp($point_3) {
        top: -64px;
        left: -46px;
    }

    @include bp($point_5) {
        top: -56px;
        left: -40px;
    }

    @include bp($point_8) {
        top: -51px;
        left: -34px;
    }
}

.handshake {
    background-image: url('../images/handshake.png');
    top: -23px;
    right: -23px;

    @include bp($point_3) {
        top: -35px;
        right: -176px;
    }

    @include bp($point_5) {
        top: -35px;
        right: -137px;
    }

    @include bp($point_8) {
        top: -30px;
        right: -111px;
    }
}

.win_cup {
    background-image: url('../images/win_cup.png');
    top: -21px;
    right: -18px;

    @include bp($point_3) {
        top: -42px;
        right: -168px;
    }

    @include bp($point_5) {
        top: -42px;
        right: -129px;
    }

    @include bp($point_8) {
        top: -40px;
        right: -105px;
    }
}

.calendar {
    background-image: url('../images/calendar.png');
    bottom: -37px;
    right: -40px;

    @include bp($point_3) {
        bottom: -65px;
        right: -234px;
    }

    @include bp($point_5) {
        bottom: -65px;
        right: -198px;
    }

    @include bp($point_8) {
        bottom: -56px;
        right: -156px;
    }
}

.projects-completed {
    top: -126px;
    left: 126px;
    width: 21.8rem;
    height: 9.3rem;
    z-index: 2;

    @include bp($point_3) {
        top: 80px;
        left: 0;
        width: 18rem;
        height: 8rem;
    }

    @include bp($point_5) {
        top: 100px;
        width: 15rem;
        height: 7rem;
    }

    @include bp($point_8) {
        top: 110px;
        width: 12rem;
        height: 6rem;
    }
}

.happy-clients {
    top: -224px;
    left: 407px;
    width: 17.5rem;
    height: 9.3rem;
    z-index: 3;

    @include bp($point_3) {
        top: -150px;
        left: 240px;
        width: 15rem;
        height: 8rem;
    }

    @include bp($point_5) {
        top: -114px;
        left: 205px;
        width: 12rem;
        height: 7rem;
    }

    @include bp($point_8) {
        top: -75px;
        left: 160px;
        width: 10rem;
        height: 6rem;
    }
}

.awards-win {
    top: 12px;
    right: -30px;
    width: 17.2rem;
    height: 9.3rem;
    z-index: 4;

    @include bp($point_3) {
        top: -108px;
        right: -204px;
        width: 15rem;
        height: 8rem;
    }

    @include bp($point_5) {
        top: -56px;
        right: -174px;
        width: 12rem;
        height: 7rem;
    }

    @include bp($point_8) {
        top: -30px;
        right: -131px;
        width: 10rem;
        height: 6rem;
    }
}

.years-in-business {
    top: 120px;
    left: 166px;
    width: 20.6rem;
    height: 9.3rem;
    z-index: 1;

    @include bp($point_3) {
        top: -178px;
        left: 26px;
        width: 18rem;
        height: 8rem;
    }

    @include bp($point_5) {
        top: -112px;
        left: 26px;
        width: 15rem;
        height: 7rem;
    }

    @include bp($point_8) {
        top: -71px;
        left: 21px;
        width: 12rem;
        height: 6rem;
    }
}

.number {
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 5.2rem;
    text-align: left;
    margin-top: -14px;

    @include bp($point_3) {
        font-size: 3.5rem;
        line-height: 4.2rem;
        margin-top: -84px;
    }

    @include bp($point_5) {
        font-size: 3rem;
        line-height: 3.5rem;
        margin-top: -72px;
    }

    @include bp($point_8) {
        font-size: 2.5rem;
        line-height: 3rem;
        margin-top: -70px;
    }
}

.description {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.7rem;
    text-align: left;
    color: #667299;
    border-left: 6px solid #F9995D;
    padding-left: 10px;

    @include bp($point_3) {
        font-size: 1.4rem;
        padding-left: 8px;
    }

    @include bp($point_5) {
        font-size: 1.2rem;
        padding-left: 7px;
    }

    @include bp($point_8) {
        font-size: 0.9rem;
        padding-left: 6px;
    }
}

.experience {
    position: relative;
    width: 30%;

    @include bp($point_3) {
        width: 70%;
        text-align: center;
    }
}

.experience h1 {
    font-size: 3.7rem;
    font-weight: 700;
    line-height: 4.3rem;
    text-align: left;
    margin: 10px 0;
    color: #2947A9;

    @include bp($point_3) {
        font-size: 3rem;
        line-height: 3.5rem;
        text-align: center;
    }

    @include bp($point_5) {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    @include bp($point_8) {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

.experience p {
    color: #525B7A;
    margin-top: 2.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    width: 20.3rem;

    @include bp($point_3) {
        margin-top: 2rem;
        font-size: 1.1rem;
        text-align: center;
        width: 100%;
    }

    @include bp($point_5) {
        margin-top: 1.5rem;
        font-size: 1rem;
    }

    @include bp($point_8) {
        margin-top: 1rem;
        font-size: 0.9rem;
    }
}

.experience__btn {
    width: 50%;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.3rem;
    text-align: center;
    background-color: #2947A9;
    color: #fff;
    border: none;
    padding: 17px 20px;
    cursor: pointer;
    margin-top: 3rem;

    @include bp($point_3) {
        margin-top: 3rem;
        font-size: 1rem;
        padding: 8px 18px;
    }

    @include bp($point_5) {
        margin-top: 2.5rem;
        font-size: 0.9rem;
        padding: 7px 16px;
    }

    @include bp($point_8) {
        margin-top: 2rem;
        font-size: 0.8rem;
        padding: 6px 14px;
    }
}

.experience__btn:hover {
    opacity: 0.8;
}

/* consultation_block */

.consultation_block {
    background-image: url('../images/consultation_img.png');
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 19rem;

    @include bp($point_3) {
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        height: auto;
        padding: 3rem 2rem;
        background-attachment: scroll;
    }

    @include bp($point_5) {
        padding: 2rem 1.5rem;
        height: auto;
        background-size: cover;
    }

    @include bp($point_8) {
        padding: 1.5rem 1rem;
        background-size: cover;
    }
}

.content__block {
    display: flex;
    flex-direction: column;
    row-gap: 1.7rem;
    color: #fff;

    @include bp($point_3) {
        align-items: center;
        text-align: center;
        max-width: 100%;
    }

    @include bp($point_5) {
        row-gap: 1rem;
    }
}

.content__block h2 {
    font-weight: 700;
    font-size: 2.3rem;
    color: #fff;

    @include bp($point_3) {
        font-size: 2rem;
    }

    @include bp($point_5) {
        font-size: 1.8rem;
    }

    @include bp($point_8) {
        font-size: 1.5rem;
    }
}

.content__block p {
    font-weight: 400;
    font-size: 1.5rem;

    @include bp($point_3) {
        font-size: 1.3rem;
    }

    @include bp($point_5) {
        font-size: 1.2rem;
    }

    @include bp($point_8) {
        font-size: 1rem;
    }
}

.phone {
    font-size: 1.5rem;
    text-decoration: underline;
    color: #fff;

    @include bp($point_3) {
        font-size: 1.3rem;
    }

    @include bp($point_5) {
        font-size: 1.2rem;
    }

    @include bp($point_8) {
        font-size: 1rem;
    }
}

.consultation-btn {
    @extend %ctn-color-btn;
    @extend %ctn-size-btn;

    @include bp($point_3) {
        padding: 0.8rem 1.5rem;
        font-size: 1.2rem;
        margin-top: 30px;
        margin-right: 0;
    }

    @include bp($point_5) {
        padding: 0.7rem 1.2rem;
        font-size: 1.1rem;
        margin-top: 20px;
        margin-right: 0;
    }

    @include bp($point_8) {
        padding: 0.6rem 0.9rem;
        font-size: 1rem;
        margin-top: 15px;
        margin-right: 0;
    }
}

.consultation-btn:hover {
    background-color: #fff;
    color: #333;
}

/* project */

.projects {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 5rem 0;
}

.menu_item {
    margin-left: 2.5rem;
    justify-content: left;
}

.menu_item h2 {
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 2.6rem;
    margin: 0;
    text-align: start;
}

.tabs__list {
    list-style-type: none;
    margin-top: 2.5rem;
}

.tabs__link {
    cursor: pointer;
    font-weight: 500;
    color: #C2C7D6;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    border: none;
    background: transparent;
    padding-left: 1rem;
}

.tabs__link.active {
    color: #2947A9;
    border-left: solid 4px;
    transition: all 0.2s ease-in-out;
}

.tabs__link.active.blue {
    color: blue;
    border-left: solid 4px blue;
}

.tabs__link.active.red {
    color: red;
    border-left: solid 4px red;
}

.tabs__link.active.green {
    color: green;
    border-left: solid 4px green;
}

.tabs__link.active.violet {
    color: violet;
    border-left: solid 4px violet;
}

.poject_card {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: 5rem 0;
    max-width: 75rem;
    justify-content: flex-end;
}

.tabs_cont__img {
    display: block;
    width: 100%;
    object-fit: contain;
}

.cont__descr {
    display: flex;
    flex-direction: column;
    width: 24rem;
    padding: 12px 12px 16px 12px;
    gap: 12px;
    background-color: #2947A9;
    color: #fff;
    font-weight: 400;
    font-size: 1.1rem;
}

.cont__descr-span {
    font-size: 1.2rem;
    font-weight: 700;
}

/* project__swiper */

.project_wrapper {
    max-width: 66rem  
}

.project__cont.content {
    display: flex;
    flex-wrap: wrap;
    gap: 1.8rem;
    padding: 5rem 0 2.5rem;
    flex-direction: row-reverse;
}

.block {
    width: 24rem;
    height: 20.6rem;
    border-radius: 2px 0px 0px 0px;
    background-color: #2947a9;
}

.project_img_w {
    display: block;
    border-radius: 2px;
    width: 24rem;
    height: 15.4rem;
}

.tab__img {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.img_w__in {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 12px 12px 16px 12px;
    color: #fff;
}

.img__title {
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 700;
}

.img__descr {
    font-size: 1.1rem;
    line-height: 1.3rem;
    font-weight: 400;
}

.project_slider__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    background-color: #292e3d;
    cursor: pointer;
}

.project_slider__btn:hover span {
    color: #2947a9;
}

.project_slider__btn:hover span::after {
    background-color: #2947a9;
}

.project_slider__btn span {
    position: relative;
    transition: all 0.3s ease-in-out;
}

.project_slider__btn span::after {
    position: absolute;
    content: "";
    top: 13%;
    width: 2.5rem;
    height: 1.4rem;
    mask-image: url("data:image/svg+xml,%3Csvg width='26' height='18' viewBox='0 0 26 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M-1.15156e-06 9C-1.17383e-06 9.25045 0.0978229 9.49063 0.271952 9.66773C0.446082 9.84482 0.682254 9.94431 0.928509 9.94431L22.8284 9.94431L16.9843 15.8859C16.898 15.9737 16.8295 16.078 16.7828 16.1927C16.7361 16.3074 16.712 16.4303 16.712 16.5545C16.712 16.6787 16.7361 16.8016 16.7828 16.9163C16.8295 17.031 16.898 17.1353 16.9843 17.2231C17.0707 17.3109 17.1732 17.3805 17.286 17.428C17.3987 17.4755 17.5196 17.5 17.6417 17.5C17.7638 17.5 17.8847 17.4755 17.9975 17.428C18.1103 17.3805 18.2128 17.3109 18.2991 17.2231L25.7272 9.66857C25.8137 9.58086 25.8823 9.47665 25.9291 9.36192C25.9759 9.2472 26 9.12421 26 9C26 8.87579 25.9759 8.7528 25.9291 8.63808C25.8823 8.52335 25.8137 8.41915 25.7272 8.33143L18.2991 0.776933C18.2128 0.689136 18.1103 0.619489 17.9975 0.571973C17.8847 0.524457 17.7638 0.500001 17.6417 0.500001C17.5196 0.500001 17.3988 0.524457 17.286 0.571973C17.1732 0.619489 17.0707 0.689136 16.9843 0.776933C16.898 0.864732 16.8295 0.968963 16.7828 1.08368C16.7361 1.19839 16.712 1.32134 16.712 1.4455C16.712 1.56967 16.7361 1.69262 16.7828 1.80734C16.8295 1.92205 16.898 2.02628 16.9843 2.11408L22.8284 8.05569L0.92851 8.05569C0.682254 8.05569 0.446082 8.15518 0.271952 8.33227C0.097823 8.50936 -1.1293e-06 8.74955 -1.15156e-06 9Z' fill='white'/%3E%3C/svg%3E%0A");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: #fff;
}

.project_slider__btn.project_slider__btn--next span {
    padding-left: 3.6rem;
}

.project_slider__btn.project_slider__btn--next span::after {
    left: 0;
    rotate: 180deg;
}

.project_slider__btn.project_slider__btn--prev span {
    padding-right: 3.6rem;
}

.project_slider__btn.project_slider__btn--prev span::after {
    right: 0;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
    width: 18px;
    height: 18px;
}

.project_slider__nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.project_slider__nav .project_slider__btn {
    width: 19.1rem;
    height: 4rem;
    color: #fff;
}

.project_slider__nav .project_slider__pagination {
    position: static;
}

.project_slider__nav .swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 11.8rem;
}

/* form */

.form {
    background-color: #F6F8F7;
}

.container-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 40.5rem;
    height: 40rem;
    margin: 0 auto;
}

.form__block {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1.8rem;
    padding: 1.2rem;
    cursor: pointer;

    @include bp($point_3) {
        gap: 0 1.2rem;
    }

    @include bp($point_5) {
        gap: 0 1rem;
        padding: 1rem;
    }

    @include bp($point_8) {
        gap: 0 0.8rem;
        padding: 0.8rem;
        margin-left: 30px;
    }
}

.heading {
    width: 100%;
    height: 2.6rem;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
    font-size: 2.2rem;

    @include bp($point_3) {
        font-size: 1.8rem;
    }

    @include bp($point_5) {
        font-size: 1.6rem;
    }

    @include bp($point_8) {
        font-size: 1.4rem;
    }
} 

.form__descr {
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin-top: 1.8rem;

    @include bp($point_8) {
        width: 95%;
        margin-top: 10px
    }
}

.form__name {
    width: 17.8rem;;
    padding: 10px 8px;
    margin-top: 2.3rem;
    border: none;
    border: 1px solid #E0E3EB;

    
    @include bp($point_8) {
        margin-top: 1.5rem;
    }
    
}

.form__email {
    width: 17.8rem;;
    padding: 10px 8px;
    margin-top: 2.3rem;
    border: none;
    border: 1px solid #E0E3EB;
}

.reason {
    width: 17.8rem;;
    padding: 10px 8px;
    margin-top: 1.2rem;
    background: url(../images/Vector.svg) no-repeat right 10px center / 20px 20px;
    appearance: none;
    border: none;
    border: 1px solid #E0E3EB;
    background-color: #fff;
}

.form__phone {
    width: 17.8rem;;
    padding: 10px 8px;
    margin-top: 1.2rem;
    border: none;
    border: 1px solid #E0E3EB;
}

.form__mesg {
    width: 37.3rem;
    height: 8.4rem;
    padding: 10px 8px;
    gap: 10px;
    margin-top: 1.2rem;
    border: none;
    border: 1px solid #E0E3EB;
    
    @include bp($point_3) {
        width: 36.8rem;
        height: 7rem;
    }
    

    @include bp($point_5) {
        width: 36.6rem;
        height: 7rem;
    }

    @include bp($point_8) {
        width: 18rem;
        height: 6.5rem;
    }
}

.form_text {
    width: 14.1rem;
    height: 1.1rem;
    margin-top: 8px;

    @include bp($point_5) {
        width: 16rem;
    }

    @include bp($point_8) {
        width: 14rem;
    }
}

.form__block button {
    @extend %form-btn;

    @include bp($point_5) {
        width: 18.1rem;
        margin-left: -110px;
        margin-top: 4rem;
    }

    @include bp($point_8) {
        width: 18.1rem;
        margin-left: 1px;
        margin-top: 1.5rem;
    }
}

.form__block button:hover {
    opacity: 0.9;
}

.form__block span {
    color: red;
}

/* footer */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.container-footer {
    width: 77rem;
    padding: 1rem 0;

    @include bp($point_3) {
        width: 90%;
        padding: 1rem 1.5rem;
    }

    @include bp($point_5) {
        width: 85%;
        padding: 1.5rem 1.2rem;
    }

    @include bp($point_8) {
        width: 80%;
        padding: 1rem 0.9rem;
    }
}

.top__section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    @include bp($point_5) {
        flex-direction: column;
    }
    
}

.contact__info {
    display: flex;
    align-items: center;
    row-gap: 1.2rem;

    @include bp($point_3) {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 0.8rem;
    }
}

.address {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    @include bp($point_5) {
        row-gap: 1.2rem;
    }

    @include bp($point_8) {
        row-gap: 1rem;
    }
}

.info__address {
    margin-left: 10px;

    @include bp($point_5) {
        margin-left: 0;
    }
}

.info__phone {
    margin-left: 2.5rem;

    @include bp($point_3) {
        margin-left: 0;
    }
}

.info__email {
    margin-left: 2.5rem;

    @include bp($point_3) {
        margin-left: 0;
    }
}

.address div {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: left;
    margin-bottom: 10px;
    color: #2947A9;

    @include bp($point_3) {
        font-size: 1.1rem;
    }

    @include bp($point_5) {
        font-size: 1rem;
    }

    @include bp($point_8) {
        font-size: 0.9rem;
    }
}

/*.news__letter__social {
    display: flex;
}*/

.news__letter {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: left;
    margin-bottom: 1.2rem;
    color: #2947A9;

    @include bp($point_3) {
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }

    @include bp($point_5) {
        font-size: 1rem;
        margin-bottom: 0.8rem;
    }

    @include bp($point_8) {
        font-size: 0.9rem;
        margin-bottom: 0.6rem;
    }
}

.news__letter__social input {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 17.5rem;
    height: 2.5rem;
    padding: 10px 8px;
    margin-right: 10px;

    @include bp($point_3) {
        width: 15rem;
    }

    @include bp($point_5) {
        width: 13rem;
    }

    @include bp($point_8) {
        width: 11rem;
    }
}

.news__letter__social button {
    @extend %news-btn;

    @include bp($point_3) {
        margin-top: 20px;
    }

    @include bp($point_8) {
        padding: 0.6rem 0.9rem;
        font-size: 1rem;
    }
}

.news__letter__social button:hover {
    background-color: #333;
    color: #F9995D;
}

.social {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: left;
    color: #2947A9;
    margin-bottom: 1.2rem;

    @include bp($point_3) {
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }

    @include bp($point_5) {
        font-size: 1rem;
        margin-bottom: 0.8rem;
    }

    @include bp($point_8) {
        font-size: 0.9rem;
        margin-bottom: 0.6rem;
    }
}

.social__icons {
    padding-top: 3.1rem;

    @include bp($point_3) {
        padding-top: 2.5rem;
    }

    @include bp($point_5) {
        padding-top: 2rem;
    }

    @include bp($point_8) {
        padding-top: 1.5rem;
    }
}

.social__icons a {
    margin-right: 1.2rem;

    @include bp($point_3) {
        margin-right: 1rem;
    }

    @include bp($point_5) {
        margin-right: 0.8rem;
    }

    @include bp($point_8) {
        margin-right: 0.6rem;
    }
}

.social__icons svg {
    cursor: pointer;

    
    @include bp($point_5) {
        width: 35px;
        height: 35px;
    }
       
    @include bp($point_8) {
        width: 30px;
        height: 30px;
    }
    
}

.icon-svg:hover {
    fill: #F9995D;
}

.footer__bottom {
    background-color: #2947A9;
    padding: 10px 0;
    width: 100%;
    padding: 1.5rem 0;

    @include bp($point_3) {
        padding-left: 1rem;
    }

    @include bp($point_5) {
        padding-left: 1.7rem;
    }

    @include bp($point_8) {
        padding-left: 1.8rem;
    }
}

.text__footer {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.1rem;
    text-align: left;
    color: #fff;

    @include bp($point_3) {
        font-size: 0.9rem;
    }

    @include bp($point_5) {
        font-size: 0.8rem;
    }

    @include bp($point_8) {
        font-size: 0.7rem;
    }
}