//:root {
//    --color_accent: #2947A9;
//}

//color
$color_white: #fff;

$color_accent: #2947A9;
$color_title: #292E3D;

$font_main: "Work Sans", sans-serif; 

//breakpoints
$point_1: 1200px;
$point_2: 1024px;
$point_3: 1023.98px;
$point_4: 768px; 
$point_5: 767.98px;
$point_6: 480px;
$point_7: 375px; 
$point_8: 374.98px; 